aclocal.m4
autotools/install-sh
autotools/missing
configure
**/Makefile
**/Makefile.in
**/*.pl
**/*.sh
src/main/perl/bin/README.md
**/*.1man
**/*.pm
**/*.bak
**/*.pod
*.spec
src/main/bash/bin/inotifyd
**/*.tar.gz
config.log
autom4te.cache/*
config.status
config/inotify.cfg
cpan/resources
cpan/extra-files
